@import "../../../styles/config";

.custom-checkbox {
  &__input {
    z-index: -2;
    margin-right: 0.5rem;
    position: relative;
    width: 0;
    height: 1.4rem;
    background-color: rgba($secondary, $alpha: 0.2);
    border-radius: 7px;
    appearance: none;
    outline: none;
    cursor: pointer;
    transform: translateX(-2rem);
    @include transition-ease;
    &::before {
      position: absolute;
      content: "";
      display: block;
      top: 2px;
      left: 7px;
      width: 6px;
      height: 12px;
      border-style: solid;
      border-color: $primary;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      opacity: 0;
    }
    &:checked {
      background: $green;
      &::before {
        opacity: 1;
      }
    }
  }
}
